# Visual Studio 관련 파일
.vscode/
*.code-workspace
*.VC.db
*.VC.VC.opendb
*.VC.db-wal
*.VC.VC.opendb-wal
.vscode/

# Binary 파일들
*.exe
*.dll
*.app
*.dylib
*.so
*.a
*.lib
*.hmap
*.iobj
*.ipdb
*.pdb
*.obj
*.o
*.lo
*.la
*.mod
*.cmake
*.suo
*.user
*.unsuccessfulbuild
*.uxf
*.ide

# 빌드된 프로젝트 파일들
Binaries/
Build/
Intermediate/
Saved/
DerivedDataCache/
*.csproj
*.sln
*.ini
*.log
*.vs
.vs/

# User-specific
UserInterface/*.db

# Ignore macOS system files
.DS_Store

# Plugin 관련 파일
Plugins/*/Binaries/
Plugins/*/Intermediate/
